#show-icon{
	background: rgba(0, 0, 0, 0) url("../images/inventory-icon.png") no-repeat scroll 0 0 / 100% auto;
    display: inline-block;
    float: right;
    height: 50px;
    margin-bottom: -40px;
    width: 60px;
}
.dashboard {
	border: 1px solid #eee;
	padding: 2px 0 0;
	margin-bottom: 5px;
}
.dashboard .info-header i {
    font-size: 2.5em!important;
	margin-right: 0;
    padding-right: 0;
}
.info-header div{
	display: inline-block;
    float: right;
	margin-top: 7px;
}
.info-header div label{
	color: #f26522;
}

#receiptslist,
#stocklist,
#expirylist{
	font-size: 14px;
}

td a{ 
	cursor: pointer;
	text-transform:uppercase;
}

td:first-child, 
th:first-child {
	width: 15px;
	text-align: center;
}

#receiptslist th:nth-child(2) {  
	width: 120px;
}

#expirylist th:nth-child(4),
#stocklist th:nth-child(4) {  
	width: 180px;
}

#receiptslist th:nth-child(4) {  
	width: 200px;
}

#transferList th:nth-child(4) {
	width: 130px;
}

#expirylist th:nth-child(5),
#stocklist th:nth-child(5) {
	width: 75px;
}

#transferList th:nth-child(5) {
	width: 140px;
}


#expirylist th:last-child,
#stocklist th:last-child {
	width: 75px;
}

#receiptslist th:last-child {
	width: 180px;
}

#transferList th:last-child {
	width: 60px;
}

.button.task, a.button.task {
    line-height: 0.8em!important;
}

.below-qnty{
	background: #ffff00 none repeat scroll 0 0!important;
	color: #f00!important;
}

.below-qnty a{
	color: #f00!important;
}

